
body {
    width: 100%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
}

.root {
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: "robotolight",sans-serif;
    background-image: url('./assets/download.png');
}

header {
    height: 60px;
    background: #fff;
}

main {
    height: 100vh;
}

.logo {
    left: 0;
    height: 34px;
    width: 112px;
    margin-left: 100px;
    position: absolute;
    background-repeat: no-repeat;
    background-image: url(./assets/logo.png);
}

.menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.menu_item,
.menu_item-btn {
    top: 25px;
    padding: 0 5px;
    color: #666666;
    font-size: 14px;
    font-weight: bolder;
    text-decoration: none;
}

.menu_item:hover{
    color: #f18815;
    transition: cubic-bezier(0,0,0,1) 0.5s;
}

.menu_item-btn {
    height: 100%;
    text-align: end;
    border-left: 1px solid rgb(201, 201, 201);
    border-right: 1px solid rgb(201, 201, 201);
}

.menu_item-btn::before {
    content: url('./assets/man.png');
}

#language li, #language ul {
    padding: 0 5px;
    color: #666666;
    list-style: none;
    margin: 0;
}

#language a {
    padding: 0 5px;
    color: #666666;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;    
}

.drop_lang {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #666666;
    visibility: hidden; 
    padding: 0;
}

#drop_lang li:hover ~ .drop_lang {
    color: #666666;
    visibility: visible;
}


.card_wrapper {
    display: flex;
    flex-direction: column;
    background-color: #fcfaf4;
    margin-left: 100px;
    width: 375px;
    height: 550px;
}

.card_button-wrapper {
    display: flex;
}

.btn {
    width: 50%;
    height: 40px;
    color: #858585;
    background-color: #d6dadc;
    border: none;
}

.btn:hover {
    background-color: #fcfaf4;
    color: #313131;
    transition: cubic-bezier(0,0,0,1) 1s;
}

.card_summa-wrapper,
.card_lkmenesa-wrapper,
.card_atnaksas-wrapper,
.card_gpl-wrapper {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.summa {
    flex-grow: 9;
    margin-left: 20px;
    margin-top: 10px;
    color: #3b3b3b;
}

.summa-input {
    flex-grow: 1;
    width: 65px;
    height: 25px;
    margin-right: 20px;
    text-align: center;
}

.input-one {
    width: 310px;
}

.card_input-wrapper {
    margin-top: 20px;
}

.card_data-wrapper {
    border-top: 1px solid rgb(209, 209, 209);
    margin-top: 55px;
    font-size: 15px;

}

.numbers {
    font-weight: bold;
    flex-grow: 1;
}

.lkmenesa,
.atnaksas,
.gpl {
    flex-grow: 9;
    margin-left: 20px;
    color: #3b3b3b;
    font-size: 12px;
    font-weight: bold;
}

.registr {
    background-color: #f28c18;
    border: 1px solid #f28c18;
    color: #fff;
    border-radius: 2px;
    line-height: 2.3;
    font-weight: 700;
    font-family: "Proxima Nova Rg";
    text-align: center;
    text-decoration: none;
    margin: 15px 15px 0px 15px;
}

.registr:hover {
    background-color: #e6a45a;
    transition: cubic-bezier(0,0,0,1) 0.5s;
}

.foot-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.i,
.k {
    color: #222222;
    font-size: 15px;
    margin-left: 10px;
    vertical-align: super;
}

.i-img,
.k-img {
    margin-left: 15px;
}

